<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Cycling</h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Contact</a>
      ·
      <a href="#">About</a>
    </p>

    <p class="footer-company-name">Thomas/vixrn &copy; 2018, all rights reserved</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>adress rad 1,</span> Stad, Land</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+46 1633 258151</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com">support@cycling.com</a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-github"></i>
      </a>

    </div>

  </div>

</footer>