<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Cycling</h3>

    <p class="footer-links">
      <a href="#" routerLink="/home">Home</a>
      ·
      <a href="#" routerLink="/about">About</a>
      ·
      <a href="#" routerLink="/contact">Contact</a>
      ·
      <a href="#" routerLink="/bikes">Bikes</a>
      ·
      <a href="#" routerLink="/gallery">Gallery</a>
    </p>

    <p class="footer-company-name">Thomas/vixrn &copy; 2018, all rights reserved</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>adress rad 1,</span> Stad, Land</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+46 1633 258151</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com" matTooltip="Feel free to contact us at any time" matTooltipPosition="below">support@cycling.com</a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#" matTooltip="Like us on Facebook" matTooltipPosition="below">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter" matTooltip="Follow us on Twitter" matTooltipPosition="below"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin" matTooltip="Follow us on LinkedIn" matTooltipPosition="below"></i>
      </a>
      <a href="#">
        <i class="fa fa-github" matTooltip="Free code snippets" matTooltipPosition="below"></i>
      </a>

    </div>

  </div>

</footer>